.igcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  margin: 64px auto;
  &-text {
    text-align: center;
    text-transform: uppercase;
    & h5 {
      font-weight: 200;
      color: $light;
      margin-bottom: 8px;
    }
    & h1 {
      font-size: 32px;
      font-weight: 400;
    }
  }
}
