.navbar-items {
  display: flex;
  list-style: none;
  color: $dark;
  & li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 16px;
    text-transform: uppercase;
    & h5 {
      margin-top: 4px;
    }
    &::before {
      content: "";
      position: absolute;
      border-left: 1px solid;
      right: -16px;
      bottom: 0;
      z-index: -1;
      height: 100%;
    }
    &:last-child::before {
      content: none;
    }
  }
}
